.DS_Store
node_modules/
/.cache
/build
/server-build
/public/build
/coverage
.build
.cache
package-lock.json
pnpm-lock.yaml
result
.logs
.pnpm-workspace.yaml
*.yaml
*.yml
dist
.dist
**/dist/**
dist
logs
*.toml
*.md