{
	"semi": true,
	"useTabs": true,
	"tabWidth": 2,
	"printWidth": 120,
	"trailingComma": "es5",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
