# This is a comment.

# Ownership for the Inference Package
/packages/inference/ @vvmnnnkv @radames

# Ownership for the Tasks Package
/packages/tasks/ @osanseviero @merveenoyan @pcuenca

# Ownership for the Widgets Package
/packages/widgets/ @mishig25

# Ownership for the Hub Package
/packages/hub/ @coyotte508

# Ownership for the Agents Package
/packages/agents/ @nsarrazin

# Ownership for the Jinja Package
/packages/jinja/ @xenova