auth:
  auth-memory:
    users:
      foo:
        name: test
        password: test
store:
  memory:
    limit: 1000
uplinks:
  npmjs:
    url: https://registry.npmjs.org/
packages:
  "@huggingface/*":
    access: $all
    publish: $all
  "**":
    access: $all
    proxy: npmjs
log:
  - { type: stdout, format: pretty, level: trace }
